{% extends 'main/layout.html' %}

{% block title %}Про нас{% endblock %}
     
{% block content %}
    <div class="features">
        <a href="{% url 'about' %}"></a> 
        <p>
            Новости игр, кино, сериалов, науки и техники на Phazoo.ru — самое интересное и актуальное. То, что нужно современному человеку.
            Phazoo.ru — сайт для игроманов, киноманов, меломанов, геймеров, для всех, кто хочет обсуждать важные и актуальные темы в хорошей компании.
            Интересуетесь новой Call of Duty или ремейком Resident Evil? Ищите альтернативу Civiliztion или Warcraft? Смотрите “Ведьмака”, обожаете 
            “Звездные войны”? Обсуждаете теории “Мстители: Война бесконечности” и мечтаете о новой “Дюне”? Подбираете новый процессор или видеокарту? 
            Интересуетесь черными дырами, достижениями в медицине, SpaceX, Tesla и другими проектами Илона Маска?
            Все это и многое другое вы найдете на Phazoo. Добро пожаловать!
        </p>      
    </div>
{% endblock %}